/* Default styles (light mode) */
.scatter-plot-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Center the content horizontally */
    justify-content: center;
    /* Center the content vertically */
    min-height: 100vh;
    /* Ensure the container takes up the full viewport height */
    background-color: white;
    color: black;
}

/* Styles for the scatter plot SVG */
svg {
    width: 60%;
    height: auto;
    border: 5px solid #E5F0F9;
}

/* Styles for the cluster toggle buttons */
.toggle-button-group {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    /* Adjust the margin to control the space between scatter plot and buttons */
}


/* Toggle button styles (checkbox) */
label {
    margin-bottom: 5px;
}

input[type="checkbox"] {
    margin-right: 5px;
}